.body {
  display: block;
  margin: 0; /* TODO: just add reset.css */
  padding: 0;
}
.board {
  display: grid;
  grid-auto-rows: 5rem;
  grid-template-columns: repeat(auto-fit, calc(33vw - 4px));
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.board > * {
  display: block;
}
